PORT=3000
DATABASE_URL=postgresql://postgres.jlbkaiofyrfdsxohmoel:[MaMaTeRe46431255]@aws-1-us-east-1.pooler.supabase.com:5432/postgresDB_SSL=true
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=tu_password_mysql
DB_NAME=portal_admin
JWT_SECRET=tu_clave_secreta
